<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - Company</title>
        <link rel="stylesheet" href="/_static/Site.css" />
        </head>
    <body>
        <header>
            <img src="/_static/logo-short.png" />
            <h1>MIRATECH</h1>
            <h2>Engineered to Perform&trade;</h2>
            </header>
        <nav>
            @RenderBody()
            </nav>
        <footer>
            &copy; YYYY Company
            </footer>
        </body>
    </html>